body{
    color: green;
    background-color:black;
}
/* p{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:xx-large;
    font-style: america;
} */

img{
    height: 500px;
    width: 500px;
    /* border-radius:500px; */
}

@media (min-width: 600pxs){
    img{
        height: auto;
        width: 100%;
    }
}

video{
    width: 100%;
}
ol{
    list-style-type: upper-roman
}
ul{
    list-style-type: disc;
}
h1{
    padding: 50px;
    border: 1px solid red;
    margin: 200px;
}

button{
    background-color: aqua;
    padding: 10px;
    margin: 20px
}

button:hover{
    background-color:chartreuse;
}

table, th, tr{
    border: 1px solid white;
    border-collapse: collapse;

}

nav{
    display: flex;
    flex-direction: row;
    /* gap: 50px; */
}

@media (max-width: 600px){
    nav{
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
}

#d1{
    font-style: italic;
}

#d2{
    font-style: normal;
}

.group{
    font-size: xx-large;
} 

.grid{
    display: grid;
    /* grid-template-columns: 33% 33% 33%; */
}

@media (min-width: 1024px){
    .grid{
        display: grid;
        grid-template-columns: 33% 33% 33%;
    }
}

/* #one{
    grid-row: 1/2;
}

#two{
    grid-row: 1/2;
}

#three{
    grid-row: 1/2;
}

#four{
    grid-row: 2/3;
}

#five{
    grid-row: 2/3;
}

#six{
    grid-row: 2/3;
}
 */
